body {
  font-family: 'Lexend', sans-serif;
  font-size: 20px;
  margin: 0;
  

}

.index-part1 {
  background-image: url(/images/homepage-banner.jpg);
  width: 100%;
  background-repeat: no-repeat;
}
  

.title {
  color: #ffffff; 
}
.navbar {
  font-size: 1.2em;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navbar a {
  text-decoration: none;
  margin: 3em;
}

#blog-link {
  margin-left: -3em;
}

.index-content {
  margin-left: 3em;
}
h1 {
  color: #ffffff; 
  font-family: 'Lexend', sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  margin-right: 10em;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}

h3 {
  color: #ffffff; 

  font-family: 'Lexend', sans-serif;
  font-size: .8em;
  font-weight: 400;
}
h2 {
  color: #ffffff; 
  font-family: 'Lexend', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

p {
  color: #ffffff; 
  font-family: 'Lexend', sans-serif;
  font-size: .8em;
  font-weight: 300;
  margin-right: 20em;
}

button {
  font-size: 1.5;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px 100px;
  border: none;
  cursor: pointer;
  text-align: center;
}

div {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  padding-bottom: 10px;
}