body {
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  margin-left: 3em;
  margin-right: 1em;
  margin-top: 2em;
}
p {style="background-image: url(/images/homepage-banner.jpg)
}


.title {
  color: #ffffff; 
}
.navbar {
  font-size: 1.2em;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.navbar a {
  text-decoration: none;
  padding: 20px;
  margin-right: 0%;
}

h1 {
  color: #ffffff; 
  font-family: 'Lexend', sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  margin-right: 10em;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}

h3 {
  color: #ffffff; 

  font-family: 'Lexend', sans-serif;
  font-size: .8em;
  font-weight: 400;
}
h2 {
  color: #ffffff; 
  font-family: 'Lexend', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

p {
  color: #ffffff; 
  font-family: 'Lexend', sans-serif;
  font-size: .8em;
  font-weight: 300;
  margin-right: 20em;
}

button {
  font-size: 1.5;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px 100px;
  border: none;
  cursor: pointer;
  text-align: center;
}

div {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  padding-bottom: 10px;
}