body {
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: left;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 2em;
}

.logo {
  font-family: 'Lexend', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  text-align: left;
  line-height: 1;
  color: black
}


.navbar {
  display: inline;
  text-align: right;
   
}

h1 {
  font-family: 'Lexend', sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  margin-right: 10em;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}
h3 {
  font-family: 'Lexend', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

p {
  font-family: 'Lexend', sans-serif;
  font-size: .8em;
  font-weight: 300;
  margin-right: 20em;
}

button {
  font-size: 1.5;
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 10px 100px;
  border: none;
  cursor: pointer;
  text-align: center;
}

div {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.2em;
  padding-bottom: 10px;
}